.container {
  width: 30%;
  height: 250px;
  background-color: rgb(180, 180, 180);
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#valor1 {
  width: 145px;
  height: 35px;
  background-color: white;
}

#valor2 {
  width: 145px;
  height: 35px;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 20px;
}

#op {
  height: 35px;
}

.teclado input {
  font-size: 35px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

#calc {
  margin-top: 20px;
}

#limpar {
  margin-top: 20px;
}

.container2 {
  width: 30%;
  height: 80px;
  background-color: black;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
